<footer class="footer-ww">
    <div class="p-5">
        <div class="row">
            <div class="col-2">Réseaux sociaux :</div>
            <div class="col-10">
                <a href="https://www.linkedin.com/"><img src="../../../assets/images/icones/linkedin.svg" alt=""></a>
                <a href="https://www.facebook.com/?locale=fr_FR"><img src="../../../assets/images/icones/facebook.svg" alt=""></a>
                <a href="https://www.instagram.com/"><img src="../../../assets/images/icones/instagram.svg" alt=""></a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col text-center">
                <h6>LIENS</h6>
                <a class="nav-link" href="#">Accueil</a>
                <a class="nav-link" href="#services">Services</a>
                <a class="nav-link" href="#aboutUs">A propos</a>
                <a class="nav-link" href="#location">Contact</a>
            </div>

            <div class="col">
                <div class="text-center">
                    <h6 class="">WAVE WASH</h6>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aut delectus doloremque illum et
                    a maxime? Deleniti ea cupiditate, accusantium porro consequuntur itaque quis facilis ducimus, modi,
                    magnam nostrum eum.</p>
            </div>

            <div class="col text-center">
                <h6>CONTACT</h6>
                <p>Adresse : <a class="nav-link" href="https://www.google.fr/maps/preview" target="_blank">12 av Vague, XXXXX Paris</a></p>
                <p>Téléphone : XX XX XX XX XX</p>
                <p>Email : wavewash@wavewash.com</p>
            </div>
        </div>
    </div>
    <div class="copyright-ww">
        <p> © 2023 Copyright: wavewash.com</p>
    </div>

</footer>
