.order-card {
    border-radius: 20px;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}
.bg-green {
    background-color: var(--color-5);
}
.bg-blue {
    background-color: var(--color-2);
    color: white;
}